.footer {
  top: 100%;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #3c4242;
  color: white;
  padding: 30px 20px;

  &__links-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &-item {
      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  &__icons-list {
    display: flex;
    gap: 20px;
  }

  &__copyright {
    text-align: center;
  }
}

@media screen and (max-width: 455px) {
  .footer {
    gap: 20px;
    &__links-list {
      text-align: center;
      flex-direction: column;
      gap: 10px;
    }
  }
}
