.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  height: 95px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
  }

  &__menu {
    display: flex;
    gap: 20px;

    &-item {
      position: relative;
      svg {
        transition: 0.5s transform;

        &:hover {
          transform: scale(1.1);
        }

        &:active {
          transform: scale(0.9);
        }
      }

      &-count {
        user-select: none;
        position: absolute;
        top: 0;
        right: -10px;
        width: 20px;
        height: 2 0px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: black;
        border: 2px solid black;
      }
    }
  }
}
