.product-catalog {
  margin-top: 95px;
  padding: 0 100px 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
}

@media screen and (max-width: 1435px) {
  .product-catalog {
    justify-content: center;
  }
}
