.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 400px;
  border: 1px solid #decccc;
  border-radius: 5px;

  &__image {
    border-radius: 10px;
    width: 280px;
    height: 300px;
    user-select: none;
  }

  &__add-to-favorites {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-heart {
      fill: white;
      transition: 0.5s transform, 0.3s fill;

      &:hover {
        fill: #f3b664;
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }

  &__name {
    font-size: 1.2rem;
    max-width: 180px;
    font-weight: 600;
    white-space: nowrap; // Предотвращает перенос текста на новую строку
    overflow: hidden; // Скрывает часть текста, не помещающуюся в блок
    text-overflow: ellipsis; // Заменяет не видимую часть текста троеточием
  }

  &__vendor {
    font-size: 0.8rem;
    font-weight: 200;
  }

  &__price {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
