.button {
  box-sizing: border-box;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
