.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__close-button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    color: #ec644b;
    cursor: pointer;
  }

  &__text {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
