#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;
}

.loading-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loading-spinner:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: loading-spinner 1.2s infinite;
  }
  
  @keyframes loading-spinner {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  
  
.card {
    padding: 25px;
    width: 1200px;
}

.card__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card__user-info {
    display: flex;
    gap: 50px;
}

.card__header { 
    display: flex;
    align-items: center;
    gap: 20px;
}

.card__buttons {
  display: flex;
  gap: 15px;
  margin-right: 0;
  margin-left: auto;
}

.card__delete-button, .card__edit-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.card__delete-icon, .card__edit-icon {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
}

.card__delete-icon:hover, .card__edit-icon:hover {
    transform: scale(1.2);
} 

.card__profile-pic {
    align-self: center;
    height: 100px;
    border-radius: 50%;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}

.modal-content {
  position: relative;
  width: 500px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}