.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 500px;
    height: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .input {
      font-size: 1.1rem;
      height: 30px;
      border: #3c4242 2px solid;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;

      &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
            margin-bottom: 5px;
        }
      }

      &:focus {
        outline: none;
        border: #4942E4 2px solid;
        transform: scale(1.02);
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__close-button {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    color: #ec644b;
    cursor: pointer;
  }

  &__submit {
    margin-top: 50px;
    width: 100px;
    height: 30px;
    border: 2px #4942E4 solid;
    color: #4942E4;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #4942E4;
      color: #ffffff;
    }
  }
}

.error {
  position: absolute;
  bottom: -1.1rem;
  color: #ec644b;
  font-size: 0.8rem;
  margin-top: 5px;
}