.product-catalog {
  margin-top: 95px;
  padding: 0 100px 20px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1435px) {
  .product-catalog {
    justify-content: center;
  }
}
