.button {
  color: #fff;
  width: 50%;
  align-self: center;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #79ac78;
  transition: transform 250ms ease-in-out;
  will-change: transform;

  &:hover {
    transform: scale(1.05);
  }
}
