body {
    font-family: 'Rubik', sans-serif;
}

.scoreboard {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.score-title {
    font-size: 3rem;
    padding-bottom: 10px;
}

.score-info {
    display: flex;
    gap: 30px;
}

.score-amount {
    font-size: 2rem;
    align-self: center;
}

.wrapper {
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
}

.modal__content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 25px;
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.modal__title {
    font-size: 3rem;
    text-align: center;
}

.modal__subtitle {
    font-size: 1.5rem;
    text-align: center;
}

.modal__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.modal__button {
    align-self: center;
    height: 50px;
    width: 50%;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #008CBA;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition: background-color 0.35s ease-in-out, color 0.2s ease-in;
    cursor: pointer;
}

.modal__button:hover {
    background-color: #fff;
    color: #008CBA;
    box-sizing: border-box;
    border: 2px solid #008CBA;
}

.modal__button--green {
    background-color: #4CAF50;
}

.modal__button--green:hover {
    background-color: white;
    color: #4CAF50;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
}

.modal__button--yellow {
    background-color: #C99E10;
}

.modal__button--yellow:hover {
    background-color: white;
    color: #C99E10;
    box-sizing: border-box;
    border: 2px solid #C99E10;
}

.modal__button--red {
    background-color: #8D230F;
}

.modal__button--red:hover {
    background-color: white;
    color: #8D230F;
    box-sizing: border-box;
    border: 2px solid #8D230F;
}

.cell-button {
    padding: 0;
    height: 55px;
    width: 55px;
}

